<!-- <!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>        -->
<%- include("./partials/head")  %> 
    <div class="container">
        <h1 class="text-center"> CRUD Animal</h1>
        <a href ="/pets/add"
           class="btn btn-warning btn-block my-4"
        >
            add a new animal
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th scope ="col">id </th>
                    <th scope ="col">name </th>
                    <th scope ="col">descripcion </th>
                    <th scope ="col">accion </th>
                
                </tr>
            </thead>
            <tbody>
                <% if (listPets.length > 0) { %>
                <% listPets.forEach(pet => { %>
                    <tr> 
                        <th scope ="row"><%=pet.id%> </th>
                        <td><%= pet.name %> </td>
                        <td><%= pet.description %> </td>
                        <td>
                            <a href="pets/<%= pet.id %>"
                                class="btn btn-info btn-sm"
                            > 
                                edit
                            </a>
                            </td>
                    
                    </tr>

                <% }) %>
                <% } %>
            </tbody>
        </table>    
    </div>
<%- include("./partials/footer")  %> 